<%- include('head', {user}) -%>
<% if(typeof error != 'undefined') { %>
	<p class="error"><%= error %></p>
<% } %>
<% if(typeof secret != 'undefined') { %>
	<div class="secret">
		<p>
			<span class="bold">Secret: </span>
			<code><%= secret %></code>
		</p>
	</div>
<% } %>
<form method="POST">
	<fieldset>
		<legend>Rotate Secret for <%= signee.name %> (<%= signee.id %>)</legend>
		<p>This will regenerate the shared secret. The old secret will no longer work.</p>
		<input type="submit" value="Rotate" />
	</fieldset>
</form>
<%- include('foot') -%>
